.img_bean_bronze{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.img_bean_gold{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.img_bean_silver{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.div_bean_bronze{
    background-image:url("../cup-bronze\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;   
}
.div_bean_gold{
    background-image:url("../cup-gold.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

}
.div_bean_silver{
    background-image:url("../cup-silver.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.div_blok_bronze{
    background-color: white;
    width: 500px;
    height: 500px;
    margin-right: 30px;
    display:inline;
    margin-bottom:10px;
    
}
.div_blok_gold{
    background-color: white;
    width: 500px;
    height: 700px;
    margin-right: 30px;
    display: inline;
    margin-bottom:10px;
    
}
.div_blok_silver{
    background-color: white;
    width: 500px;
    height: 500px; 
    display:inline;
    margin-bottom:10px;
    
}
body
{
   background-color: rgb(241, 221, 129); 
   display: flex;
   justify-content: center;
   align-items: center;
   width:100%;
   height:100%;
} 
.h_one_bronez{
    text-align: center;
    font-family: "Miso-Bold"
}
.div_bean_bronze{

}
.img_smoke_bronze{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.h_two_bronze{
    text-align: center;
    font-family: "Miso-Bold"
}
.p_bronze{
    text-align: center;
    font-family:"Miso-Bold";
}
.h_one_gold{
    text-align: center;
    font-family:"Miso-Bold"; 
}
.img_smoke_gold{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.div_bean_gold{

}
.h_two_gold{
    text-align: center;
    font-family: "Miso-Bold";
}
.p_gold{  
    text-align: center;
    font-family: "Miso-Bold"
}
.h_one_silver{
    text-align: center;
    font-family: "Miso-Bold"
}
.img_smoke_silver{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.div_bean_silver{

}
.h_two_silver{
    text-align: center;
    font-family: "Miso-Bold"
}
.p_silver{
    text-align: center;
    font-family: "Miso-Bold"
}
.li_bronze{
    list-style-type: none;
}
.li_gold{
    list-style-type: none;
}
.li_silver{
    list-style-type: none;
}
ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
@font-face {
    font-family:"Miso-Bold";
    src: url(./miso-bold.ttf);
}
@media (max-width: 500px){
    
    ul{
        flex-direction: column;
    }
    .div_blok_bronze{
        margin-bottom:10px;
        margin-left: auto;
        margin-right: auto;
    }
    .div_blok_gold{
        margin-bottom:10px;
        margin-left: auto;
        margin-right: auto;
    }
    .div_blok_silver{
        margin-bottom:10px;
        margin-left: auto;
        margin-right: auto;        
    }
}
@media (min-width: 1600px){
    .div_blok_bronze{
        margin-top:auto;
        margin-bottom: auto;
    }
    .div_blok_gold{
        margin-top:auto;
        margin-bottom: auto;
    }
    .div_blok_silver{
        margin-top:auto;
        margin-bottom: auto;        
    }
}
